.App {
  margin: 20px;
  border: 1px solid black;
  width:500px;
}

.todo-list-items {
  padding:20px;
}

.add-new-item-container {
  margin-top:20px;
  padding:20px;
  border-top: 1px solid black;
}

.label-container {
  display: flex;
}

.todolist-item {
  margin-bottom: 10px;
}